In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('housing.csv')

housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
18821,-120.92,39.56,48.0,1276.0,292.0,358.0,145.0,1.8750,66600.0,INLAND
18721,-122.39,40.64,13.0,3604.0,704.0,1598.0,670.0,2.4141,78700.0,INLAND
20168,-119.28,34.42,23.0,4763.0,828.0,2198.0,771.0,4.8105,313000.0,NEAR OCEAN
11927,-117.37,33.95,32.0,2215.0,351.0,771.0,311.0,4.3542,142600.0,INLAND
19971,-119.11,36.21,10.0,1972.0,455.0,1469.0,442.0,1.5407,58400.0,INLAND

In [4]:
housing_data = housing_data.dropna()

housing_data.shape

(20433, 10)

In [5]:
housing_data =housing_data.drop(housing_data.loc[housing_data['median_house_value']== 500001].index)

In [6]:
housing_data.shape

(19475, 10)

In [7]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [8]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [9]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [11]:
housing_data.shape

(19475, 14)

In [12]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
17942,-121.94,37.34,36.0,3142.0,632.0,1372.0,560.0,5.0175,246100.0,1,0,0,0,0
2673,-115.62,33.04,20.0,1121.0,244.0,766.0,230.0,2.2969,62000.0,0,1,0,0,0
5740,-118.25,34.16,52.0,2477.0,385.0,993.0,371.0,4.9135,368100.0,1,0,0,0,0
16836,-122.49,37.60,33.0,3507.0,669.0,1697.0,660.0,4.0795,270600.0,0,0,0,0,1
18807,-121.64,40.90,24.0,2237.0,434.0,834.0,318.0,1.7538,90300.0,0,1,0,0,0

In [14]:
median = housing_data['median_house_value'].median()

median

173800.0

In [15]:
housing_data['above_median'] = (housing_data['median_house_value'] - median)> 0

In [16]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
4002,-118.66,34.18,25.0,6612.0,857.0,2519.0,843.0,8.3912,419000.0,1,0,0,0,0,True
9299,-122.59,38.04,25.0,3412.0,455.0,1238.0,406.0,8.3646,397300.0,0,0,0,1,0,True
20612,-121.56,39.08,26.0,1377.0,289.0,761.0,267.0,1.4934,48300.0,0,1,0,0,0,False
14201,-117.02,32.71,30.0,3187.0,592.0,2082.0,631.0,3.5388,118500.0,0,0,0,0,1,False
8229,-118.20,33.77,40.0,2034.0,899.0,1257.0,797.0,1.2864,131300.0,0,0,0,0,1,False

In [17]:
x= housing_data.drop(['median_house_value', 'above_median'], axis=1)
y = housing_data['above_median']

In [18]:
x.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split
    
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [20]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [21]:
from sklearn.linear_model import LogisticRegression

Logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [22]:
print('Trainning_score:', Logistic_model.score(x_train, y_train))

Trainning_score: 0.820795892169448

In [24]:
y_pred = Logistic_model.predict(x_test)

In [25]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual':y_test})

df_pred_actual.head(10)

       predicted  actual
2396       False   False
17143       True    True
18887       True   False
1125       False   False
7331       False   False
11617       True    True
4263        True    True
7363       False   False
7368       False   False
9335        True    True

In [28]:
from sklearn.metrics import accuracy_score

print('Accuracy_score:' , accuracy_score(y_test, y_pred))

Accuracy_score: 0.8231065468549422